.no-height {
  transform: scaleY(0) !important;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex {
  display: flex;
}

.inverse {
  color: white;
}

.bg-transparent {
  background-color: transparent;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}
